In [2]:
import json
  
# Opening JSON file
f = open('data.json',)
  
# returns JSON object as 
# a dictionary
data = json.load(f)
  
# Iterating through the json
# list
ans_1800 = {'population': {'europe': 0, 'americas': 0, 'asia': 0, 'africa': 0},
            'income': {'europe': 0, 'americas': 0, 'asia': 0, 'africa': 0}}
ans_2014 = {'population': {'europe': 0, 'americas': 0, 'asia': 0, 'africa': 0},
            'income': {'europe': 0, 'americas': 0, 'asia': 0, 'africa': 0}}
for val in data[0]['countries']:
    ans_1800['population'][val['continent']] += int(val['population'])
    if val['income']:
        ans_1800['income'][val['continent']] += int(val['income']) * int(val['population'])

for val in data[-1]['countries']:
    if val['population']:
        ans_2014['population'][val['continent']] += int(val['population'])
    else:
        val['population'] = 0
    if val['income']:
        ans_2014['income'][val['continent']] += int(val['income']) * int(val['population'])

In [3]:
print(ans_1800)
print(ans_2014)

{'population': {'europe': 298751117, 'americas': 27417011, 'asia': 651420608, 'africa': 76417356}, 'income': {'europe': 353404629245, 'americas': 37371492010, 'asia': 625017176952, 'africa': 48085715053}}
{'population': {'europe': 834852386, 'americas': 978974789, 'asia': 4320255118, 'africa': 1164129789}, 'income': {'europe': 24163794777957, 'americas': 27223554647917, 'asia': 47576633919663, 'africa': 5393780884106}}

In [4]:
with open('1800_summary.json', 'w') as outfile:
    json.dump(ans_1800, outfile)
with open('2014_summary.json', 'w') as outfile:
    json.dump(ans_2014, outfile)
47576633919663
24163794777957
27223554647917

In [33]:
import collections
ans = {'China': [], 'United States': []}
for i in range(len(data)):
    for j in range(len(data[i]['countries'])):
        if data[i]['countries'][j]['country'] == 'China':
            temp = {}
            val = data[i]['countries'][j]
            temp['Population'] = val['population']
            temp['Income'] = val['income']
            temp['Life_Exp'] = val['life_exp']
            temp['Year'] = data[i]['year']
            ans['China'].append(temp)
        if data[i]['countries'][j]['country'] == 'United States':
            temp = {}
            val = data[i]['countries'][j]
            temp['Population'] = val['population']
            temp['Income'] = val['income']
            temp['Life_Exp'] = val['life_exp']
            temp['Year'] = data[i]['year']
            ans['United States'].append(temp)
with open('China vs US.json', 'w') as outfile:
    json.dump(ans, outfile)
# print(ans)

{'Population': 321675014, 'Income': 985, 'Life_Exp': 32, 'Year': '1800'}
{'Population': 324408863, 'Income': 985, 'Life_Exp': 32, 'Year': '1801'}
{'Population': 327165946, 'Income': 985, 'Life_Exp': 32, 'Year': '1802'}
{'Population': 329946461, 'Income': 985, 'Life_Exp': 32, 'Year': '1803'}
{'Population': 332750607, 'Income': 985, 'Life_Exp': 32, 'Year': '1804'}
{'Population': 335578585, 'Income': 985, 'Life_Exp': 32, 'Year': '1805'}
{'Population': 338430598, 'Income': 985, 'Life_Exp': 32, 'Year': '1806'}
{'Population': 341306849, 'Income': 985, 'Life_Exp': 32, 'Year': '1807'}
{'Population': 344207544, 'Income': 985, 'Life_Exp': 32, 'Year': '1808'}
{'Population': 347132892, 'Income': 985, 'Life_Exp': 32, 'Year': '1809'}
{'Population': 350083106, 'Income': 985, 'Life_Exp': 32, 'Year': '1810'}
{'Population': 353058389, 'Income': 985, 'Life_Exp': 32, 'Year': '1811'}
{'Population': 356058959, 'Income': 985, 'Life_Exp': 32, 'Year': '1812'}
{'Population': 359085030, 'Income': 985, 'Life_Exp': 32, 'Year': '1813'}
{'Population': 362136818, 'Income': 985, 'Life_Exp': 32, 'Year': '1814'}
{'Population': 365214544, 'Income': 985, 'Life_Exp': 32, 'Year': '1815'}
{'Population': 368318426, 'Income': 985, 'Life_Exp': 32, 'Year': '1816'}
{'Population': 371448687, 'Income': 985, 'Life_Exp': 32, 'Year': '1817'}
{'Population': 374605552, 'Income': 985, 'Life_Exp': 32, 'Year': '1818'}
{'Population': 377789247, 'Income': 985, 'Life_Exp': 32, 'Year': '1819'}
{'Population': 380999999, 'Income': 985, 'Life_Exp': 32, 'Year': '1820'}
{'Population': 383711494, 'Income': 985, 'Life_Exp': 32, 'Year': '1821'}
{'Population': 386442286, 'Income': 985, 'Life_Exp': 32, 'Year': '1822'}
{'Population': 389192513, 'Income': 985, 'Life_Exp': 32, 'Year': '1823'}
{'Population': 391962312, 'Income': 985, 'Life_Exp': 32, 'Year': '1824'}
{'Population': 394751819, 'Income': 985, 'Life_Exp': 32, 'Year': '1825'}
{'Population': 397561183, 'Income': 985, 'Life_Exp': 32, 'Year': '1826'}
{'Population': 400390540, 'Income': 985, 'Life_Exp': 32, 'Year': '1827'}
{'Population': 403240034, 'Income': 985, 'Life_Exp': 32, 'Year': '1828'}
{'Population': 406109806, 'Income': 986, 'Life_Exp': 32, 'Year': '1829'}
{'Population': 408999998, 'Income': 986, 'Life_Exp': 32, 'Year': '1830'}
{'Population': 409299013, 'Income': 986, 'Life_Exp': 32, 'Year': '1831'}
{'Population': 409598246, 'Income': 986, 'Life_Exp': 32, 'Year': '1832'}
{'Population': 409897698, 'Income': 986, 'Life_Exp': 32, 'Year': '1833'}
{'Population': 410197369, 'Income': 986, 'Life_Exp': 32, 'Year': '1834'}
{'Population': 410497259, 'Income': 986, 'Life_Exp': 32, 'Year': '1835'}
{'Population': 410797368, 'Income': 986, 'Life_Exp': 32, 'Year': '1836'}
{'Population': 411097697, 'Income': 986, 'Life_Exp': 32, 'Year': '1837'}
{'Population': 411398245, 'Income': 986, 'Life_Exp': 32, 'Year': '1838'}
{'Population': 411699013, 'Income': 986, 'Life_Exp': 32, 'Year': '1839'}
{'Population': 412000001, 'Income': 986, 'Life_Exp': 32, 'Year': '1840'}
{'Population': 412000001, 'Income': 1031, 'Life_Exp': 32, 'Year': '1841'}
{'Population': 412000001, 'Income': 1033, 'Life_Exp': 32, 'Year': '1842'}
{'Population': 412000001, 'Income': 999, 'Life_Exp': 32, 'Year': '1843'}
{'Population': 412000001, 'Income': 973, 'Life_Exp': 32, 'Year': '1844'}
{'Population': 412000001, 'Income': 980, 'Life_Exp': 32, 'Year': '1845'}
{'Population': 412000001, 'Income': 980, 'Life_Exp': 32, 'Year': '1846'}
{'Population': 412000001, 'Income': 986, 'Life_Exp': 32, 'Year': '1847'}
{'Population': 412000001, 'Income': 995, 'Life_Exp': 32, 'Year': '1848'}
{'Population': 412000001, 'Income': 992, 'Life_Exp': 32, 'Year': '1849'}
{'Population': 412000001, 'Income': 985, 'Life_Exp': 32, 'Year': '1850'}
{'Population': 408358527, 'Income': 975, 'Life_Exp': 31, 'Year': '1851'}
{'Population': 404749243, 'Income': 1017, 'Life_Exp': 30, 'Year': '1852'}
{'Population': 401171855, 'Income': 1011, 'Life_Exp': 29, 'Year': '1853'}
{'Population': 397626086, 'Income': 991, 'Life_Exp': 28, 'Year': '1854'}
{'Population': 394111661, 'Income': 984, 'Life_Exp': 27, 'Year': '1855'}
{'Population': 390628294, 'Income': 1013, 'Life_Exp': 26, 'Year': '1856'}
{'Population': 387175714, 'Income': 999, 'Life_Exp': 26.71, 'Year': '1857'}
{'Population': 383753655, 'Income': 1029, 'Life_Exp': 27.43, 'Year': '1858'}
{'Population': 380361837, 'Income': 1007, 'Life_Exp': 28.14, 'Year': '1859'}
{'Population': 377000002, 'Income': 1023, 'Life_Exp': 28.85, 'Year': '1860'}
{'Population': 375055480, 'Income': 1044, 'Life_Exp': 29.56, 'Year': '1861'}
{'Population': 373120996, 'Income': 1074, 'Life_Exp': 30.28, 'Year': '1862'}
{'Population': 371196481, 'Income': 1095, 'Life_Exp': 30.99, 'Year': '1863'}
{'Population': 369281897, 'Income': 1098, 'Life_Exp': 31.7, 'Year': '1864'}
{'Population': 367377189, 'Income': 1066, 'Life_Exp': 31.74, 'Year': '1865'}
{'Population': 365482308, 'Income': 1087, 'Life_Exp': 31.79, 'Year': '1866'}
{'Population': 363597197, 'Income': 1087, 'Life_Exp': 31.83, 'Year': '1867'}
{'Population': 361721809, 'Income': 1113, 'Life_Exp': 31.87, 'Year': '1868'}
{'Population': 359856094, 'Income': 1101, 'Life_Exp': 31.91, 'Year': '1869'}
{'Population': 357999998, 'Income': 1099, 'Life_Exp': 31.96, 'Year': '1870'}
{'Population': 358988000, 'Income': 1084, 'Life_Exp': 32, 'Year': '1871'}
{'Population': 359978001, 'Income': 1090, 'Life_Exp': 32, 'Year': '1872'}
{'Population': 360971000, 'Income': 1057, 'Life_Exp': 32, 'Year': '1873'}
{'Population': 361967002, 'Income': 1000, 'Life_Exp': 32, 'Year': '1874'}
{'Population': 362965999, 'Income': 1026, 'Life_Exp': 32, 'Year': '1875'}
{'Population': 363966999, 'Income': 1061, 'Life_Exp': 29.5, 'Year': '1876'}
{'Population': 364971001, 'Income': 1001, 'Life_Exp': 27.5, 'Year': '1877'}
{'Population': 365978000, 'Income': 1014, 'Life_Exp': 25.2, 'Year': '1878'}
{'Population': 366988001, 'Income': 1031, 'Life_Exp': 28.5, 'Year': '1879'}
{'Population': 368000001, 'Income': 1015, 'Life_Exp': 32, 'Year': '1880'}
{'Population': 369182999, 'Income': 1011, 'Life_Exp': 32, 'Year': '1881'}
{'Population': 370368999, 'Income': 1003, 'Life_Exp': 32, 'Year': '1882'}
{'Population': 371560001, 'Income': 1005, 'Life_Exp': 32, 'Year': '1883'}
{'Population': 372753999, 'Income': 977, 'Life_Exp': 32, 'Year': '1884'}
{'Population': 373951998, 'Income': 974, 'Life_Exp': 32, 'Year': '1885'}
{'Population': 375154001, 'Income': 959, 'Life_Exp': 32, 'Year': '1886'}
{'Population': 376358999, 'Income': 940, 'Life_Exp': 32, 'Year': '1887'}
{'Population': 377568999, 'Income': 945, 'Life_Exp': 32, 'Year': '1888'}
{'Population': 378783000, 'Income': 955, 'Life_Exp': 32, 'Year': '1889'}
{'Population': 380000000, 'Income': 918, 'Life_Exp': 32, 'Year': '1890'}
{'Population': 381979000, 'Income': 933, 'Life_Exp': 32, 'Year': '1891'}
{'Population': 383969001, 'Income': 916, 'Life_Exp': 32, 'Year': '1892'}
{'Population': 385968999, 'Income': 921, 'Life_Exp': 32, 'Year': '1893'}
{'Population': 387978999, 'Income': 911, 'Life_Exp': 32, 'Year': '1894'}
{'Population': 390000001, 'Income': 940, 'Life_Exp': 32, 'Year': '1895'}
{'Population': 391980002, 'Income': 895, 'Life_Exp': 32, 'Year': '1896'}
{'Population': 393969999, 'Income': 904, 'Life_Exp': 32, 'Year': '1897'}
{'Population': 395970000, 'Income': 876, 'Life_Exp': 32, 'Year': '1898'}
{'Population': 397980000, 'Income': 882, 'Life_Exp': 32, 'Year': '1899'}
{'Population': 400000002, 'Income': 894, 'Life_Exp': 32, 'Year': '1900'}
{'Population': 402242999, 'Income': 893, 'Life_Exp': 32, 'Year': '1901'}
{'Population': 404498000, 'Income': 922, 'Life_Exp': 32, 'Year': '1902'}
{'Population': 406766000, 'Income': 916, 'Life_Exp': 32, 'Year': '1903'}
{'Population': 409046999, 'Income': 936, 'Life_Exp': 32, 'Year': '1904'}
{'Population': 411340000, 'Income': 856, 'Life_Exp': 32, 'Year': '1905'}
{'Population': 413645999, 'Income': 898, 'Life_Exp': 32, 'Year': '1906'}
{'Population': 415965000, 'Income': 917, 'Life_Exp': 32, 'Year': '1907'}
{'Population': 418296998, 'Income': 945, 'Life_Exp': 32, 'Year': '1908'}
{'Population': 420641998, 'Income': 956, 'Life_Exp': 32, 'Year': '1909'}
{'Population': 423000001, 'Income': 991, 'Life_Exp': 32, 'Year': '1910'}
{'Population': 427661999, 'Income': 983, 'Life_Exp': 32, 'Year': '1911'}
{'Population': 432375002, 'Income': 938, 'Life_Exp': 32, 'Year': '1912'}
{'Population': 437140001, 'Income': 936, 'Life_Exp': 32, 'Year': '1913'}
{'Population': 441957999, 'Income': 946, 'Life_Exp': 32, 'Year': '1914'}
{'Population': 446829000, 'Income': 957, 'Life_Exp': 32, 'Year': '1915'}
{'Population': 451753001, 'Income': 968, 'Life_Exp': 32, 'Year': '1916'}
{'Population': 456731998, 'Income': 979, 'Life_Exp': 32, 'Year': '1917'}
{'Population': 461766001, 'Income': 990, 'Life_Exp': 22.41, 'Year': '1918'}
{'Population': 466854998, 'Income': 1001, 'Life_Exp': 32, 'Year': '1919'}
{'Population': 471999998, 'Income': 1012, 'Life_Exp': 32, 'Year': '1920'}
{'Population': 473673001, 'Income': 1017, 'Life_Exp': 32, 'Year': '1921'}
{'Population': 475352000, 'Income': 1021, 'Life_Exp': 32, 'Year': '1922'}
{'Population': 477036998, 'Income': 1026, 'Life_Exp': 32, 'Year': '1923'}
{'Population': 478727998, 'Income': 1031, 'Life_Exp': 32, 'Year': '1924'}
{'Population': 480425002, 'Income': 1035, 'Life_Exp': 32, 'Year': '1925'}
{'Population': 482128001, 'Income': 1040, 'Life_Exp': 32.36, 'Year': '1926'}
{'Population': 483836999, 'Income': 1045, 'Life_Exp': 25.65, 'Year': '1927'}
{'Population': 485552002, 'Income': 1050, 'Life_Exp': 33.08, 'Year': '1928'}
{'Population': 487273001, 'Income': 1054, 'Life_Exp': 29.85, 'Year': '1929'}
{'Population': 489000001, 'Income': 1055, 'Life_Exp': 33.8, 'Year': '1930'}
{'Population': 492639999, 'Income': 1048, 'Life_Exp': 34.2, 'Year': '1931'}
{'Population': 496306998, 'Income': 1064, 'Life_Exp': 34.6, 'Year': '1932'}
{'Population': 500000002, 'Income': 1047, 'Life_Exp': 35, 'Year': '1933'}
{'Population': 502639002, 'Income': 942, 'Life_Exp': 35.4, 'Year': '1934'}
{'Population': 505292001, 'Income': 1004, 'Life_Exp': 35.8, 'Year': '1935'}
{'Population': 507958998, 'Income': 1052, 'Life_Exp': 36.2, 'Year': '1936'}
{'Population': 510640001, 'Income': 1012, 'Life_Exp': 34, 'Year': '1937'}
{'Population': 513336000, 'Income': 973, 'Life_Exp': 33.86, 'Year': '1938'}
{'Population': 516046002, 'Income': 905, 'Life_Exp': 34.11, 'Year': '1939'}
{'Population': 519134782.1, 'Income': 841, 'Life_Exp': 34.36, 'Year': '1940'}
{'Population': 522237567.2, 'Income': 782, 'Life_Exp': 33.95, 'Year': '1941'}
{'Population': 525355352.3, 'Income': 727, 'Life_Exp': 31.89, 'Year': '1942'}
{'Population': 528487138.4, 'Income': 676, 'Life_Exp': 28.84, 'Year': '1943'}
{'Population': 531633920.5, 'Income': 629, 'Life_Exp': 34.78, 'Year': '1944'}
{'Population': 534795702.6, 'Income': 585, 'Life_Exp': 36.73, 'Year': '1945'}
{'Population': 537971489.7, 'Income': 570, 'Life_Exp': 38.17, 'Year': '1946'}
{'Population': 541162274.8, 'Income': 556, 'Life_Exp': 39.22, 'Year': '1947'}
{'Population': 544368056.9, 'Income': 542, 'Life_Exp': 39.66, 'Year': '1948'}
{'Population': 547588839, 'Income': 529, 'Life_Exp': 40.11, 'Year': '1949'}
{'Population': 554419275, 'Income': 535, 'Life_Exp': 41.04, 'Year': '1950'}
{'Population': 569611075, 'Income': 582, 'Life_Exp': 41.98, 'Year': '1951'}
{'Population': 582029301, 'Income': 631, 'Life_Exp': 42.91, 'Year': '1952'}
{'Population': 592567861, 'Income': 692, 'Life_Exp': 43.85, 'Year': '1953'}
{'Population': 601971218, 'Income': 694, 'Life_Exp': 45.7, 'Year': '1954'}
{'Population': 610834396, 'Income': 706, 'Life_Exp': 47.2, 'Year': '1955'}
{'Population': 619597547, 'Income': 736, 'Life_Exp': 49.57, 'Year': '1956'}
{'Population': 628551405, 'Income': 780, 'Life_Exp': 49.62, 'Year': '1957'}
{'Population': 637853609, 'Income': 889, 'Life_Exp': 49.17, 'Year': '1958'}
{'Population': 647555963, 'Income': 958, 'Life_Exp': 37.36, 'Year': '1959'}
{'Population': 657686143, 'Income': 889, 'Life_Exp': 30.53, 'Year': '1960'}
{'Population': 668334897, 'Income': 558, 'Life_Exp': 32.95, 'Year': '1961'}
{'Population': 679732315, 'Income': 567, 'Life_Exp': 43.29, 'Year': '1962'}
{'Population': 692280490, 'Income': 635, 'Life_Exp': 50.64, 'Year': '1963'}
{'Population': 706460953, 'Income': 713, 'Life_Exp': 52, 'Year': '1964'}
{'Population': 722562183, 'Income': 772, 'Life_Exp': 54.28, 'Year': '1965'}
{'Population': 740745642, 'Income': 826, 'Life_Exp': 55.37, 'Year': '1966'}
{'Population': 760771063, 'Income': 719, 'Life_Exp': 56.9, 'Year': '1967'}
{'Population': 782008729, 'Income': 669, 'Life_Exp': 57.87, 'Year': '1968'}
{'Population': 803577221, 'Income': 732, 'Life_Exp': 59.38, 'Year': '1969'}
{'Population': 824788457, 'Income': 848, 'Life_Exp': 61, 'Year': '1970'}
{'Population': 845481578, 'Income': 876, 'Life_Exp': 62.04, 'Year': '1971'}
{'Population': 865686530, 'Income': 843, 'Life_Exp': 61.36, 'Year': '1972'}
{'Population': 885145933, 'Income': 894, 'Life_Exp': 60.97, 'Year': '1973'}
{'Population': 903613538, 'Income': 888, 'Life_Exp': 60.63, 'Year': '1974'}
{'Population': 920945083, 'Income': 920, 'Life_Exp': 60.78, 'Year': '1975'}
{'Population': 937018252, 'Income': 891, 'Life_Exp': 60.46, 'Year': '1976'}
{'Population': 951927444, 'Income': 904, 'Life_Exp': 61.94, 'Year': '1977'}
{'Population': 966039822, 'Income': 1016, 'Life_Exp': 62.15, 'Year': '1978'}
{'Population': 979880619, 'Income': 1059, 'Life_Exp': 62.95, 'Year': '1979'}
{'Population': 993877310, 'Income': 1073, 'Life_Exp': 63.92, 'Year': '1980'}
{'Population': 1008000152, 'Income': 1099, 'Life_Exp': 64.2, 'Year': '1981'}
{'Population': 1022253396, 'Income': 1175, 'Life_Exp': 65.28, 'Year': '1982'}
{'Population': 1037123834, 'Income': 1229, 'Life_Exp': 65.49, 'Year': '1983'}
{'Population': 1053210735, 'Income': 1456, 'Life_Exp': 65.68, 'Year': '1984'}
{'Population': 1070863389, 'Income': 1557, 'Life_Exp': 65.87, 'Year': '1985'}
{'Population': 1090348056, 'Income': 1604, 'Life_Exp': 66.05, 'Year': '1986'}
{'Population': 1111341725, 'Income': 1652, 'Life_Exp': 66.23, 'Year': '1987'}
{'Population': 1132866344, 'Income': 1597, 'Life_Exp': 66.39, 'Year': '1988'}
{'Population': 1153565894, 'Income': 1474, 'Life_Exp': 66.56, 'Year': '1989'}
{'Population': 1172445200, 'Income': 1516, 'Life_Exp': 66.7, 'Year': '1990'}
{'Population': 1189183522, 'Income': 1634, 'Life_Exp': 67, 'Year': '1991'}
{'Population': 1204003901, 'Income': 1845, 'Life_Exp': 67.2, 'Year': '1992'}
{'Population': 1217129133, 'Income': 2078, 'Life_Exp': 67.5, 'Year': '1993'}
{'Population': 1228991932, 'Income': 2323, 'Life_Exp': 67.9, 'Year': '1994'}
{'Population': 1239940004, 'Income': 2551, 'Life_Exp': 68.4, 'Year': '1995'}
{'Population': 1249981441, 'Income': 2775, 'Life_Exp': 68.8, 'Year': '1996'}
{'Population': 1259066974, 'Income': 3000, 'Life_Exp': 69.1, 'Year': '1997'}
{'Population': 1267441503, 'Income': 3205, 'Life_Exp': 69.4, 'Year': '1998'}
{'Population': 1275406699, 'Income': 3419, 'Life_Exp': 69.6, 'Year': '1999'}
{'Population': 1283198970, 'Income': 3678, 'Life_Exp': 69.8, 'Year': '2000'}
{'Population': 1290937649, 'Income': 3955, 'Life_Exp': 70, 'Year': '2001'}
{'Population': 1298646577, 'Income': 4285, 'Life_Exp': 70.2, 'Year': '2002'}
{'Population': 1306343911, 'Income': 4685, 'Life_Exp': 70.9, 'Year': '2003'}
{'Population': 1314007478, 'Income': 5127, 'Life_Exp': 71.4, 'Year': '2004'}
{'Population': 1321623490, 'Income': 5675, 'Life_Exp': 71.9, 'Year': '2005'}
{'Population': 1329209094, 'Income': 6360, 'Life_Exp': 72.6, 'Year': '2006'}
{'Population': 1336800506, 'Income': 7225, 'Life_Exp': 73.1, 'Year': '2007'}
{'Population': 1344415227, 'Income': 7880, 'Life_Exp': 73.4, 'Year': '2008'}
{'Population': 1352068091, 'Income': 8565, 'Life_Exp': 73.9, 'Year': '2009'}
{'Population': 1359755102, 'Income': 9430, 'Life_Exp': 74.3, 'Year': '2010'}
{'Population': 1367480264, 'Income': 10274, 'Life_Exp': 74.9, 'Year': '2011'}
{'Population': 1375198619, 'Income': 11017, 'Life_Exp': 75.3, 'Year': '2012'}
{'Population': 1382793212, 'Income': 11805, 'Life_Exp': 75.7, 'Year': '2013'}
{'Population': 1390110388, 'Income': 12609, 'Life_Exp': 75.9, 'Year': '2014'}

In [ ]:
# Closing file
f.close()